<form
  [formGroup]="searchForm"
  (ngSubmit)="onSubmit(searchForm)"
  autocomplete="off"
>
  <div class="inner-form">
    <div class="input-field first-wrap">
      <input
        name="destination"
        formControlName="destination"
        id="destination"
        type="text"
        placeholder="Where you want to go?"
      />
    </div>
    <div class="input-field first-wrap">
      <input
        name="origin"
        formControlName="origin"
        id="origin"
        type="text"
        placeholder="Where are you now?"
      />
    </div>
    <div class="input-field third-wrap">
      <button type="submit" class="btn-search">Search</button>
      <button
        *ngIf="!isAdvancedSearch"
        class="btn-search-advanced"
        type="button"
        (click)="advancedSearch()"
      >
        Advanced Search
      </button>
      <button
        *ngIf="isAdvancedSearch"
        class="btn-search-advanced"
        type="button"
        (click)="advancedSearch()"
      >
        Simple Search
      </button>
    </div>
  </div>
  <div class="inner-form" *ngIf="isAdvancedSearch">
    <div class="input-field">
      <label for="date-from" style="color: #fff">In what time period?</label>
      <input
        name="dateFrom"
        formControlName="dateFrom"
        id="date-from"
        type="date"
      />
    </div>
    <div class="input-field">
      <label for="date-from" style="color: #fff"></label>
      <input name="dateTo" formControlName="dateTo" id="date-to" type="date" />
    </div>

    <div class="input-field">
      <label for="stopovers" style="color: #fff"></label>
      <input
        name="stopovers"
        formControlName="stopovers"
        id="stopovers"
        type="number"
        placeholder="Max stopovers"
      />
    </div>
    <div class="input-field">
      <label for="two-way-trip" style="color: #fff">Two-way trip</label>
      <input
        name="two-way-trip"
        formControlName="twoWayTrip"
        id="trip-type-btn"
        type="checkbox"
      />
    </div>
    <div
      class="input-field"
      style="display: inline-block"
      *ngIf="searchForm.value.twoWayTrip"
    >
      <label for="days" style="color: #fff"></label>
      <input
        name="days"
        formControlName="days"
        id="days"
        type="number"
        placeholder="How many days you want to be there?"
      />
    </div>
  </div>
</form>
<app-search-results
  *ngIf="flights$ | async"
  [flights]="flights$ | async"
></app-search-results>

<!-- <div id="earth" class="center"></div> -->
